<div class="container-fluid">
	<!-- Navigation -->        
	<div class="tm-nav">
		<nav class="navbar">

			<button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#tmNavbar"></button> <!-- &#9776; ☰ -->
			<div class="collapse navbar-toggleable-sm text-xs-center tm-navbar" id="tmNavbar">
				<ul class="nav navbar-nav">
					<li class="nav-item active selected">
						<a class="nav-link current" href="#home">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#engine">Steam Engine</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#combEngine">Combustion Engine</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#telephone">Telephone</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#firstPhoto">First Photo</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#lightbulb">Lightbulb</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#typewriter">Typewriter</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	
	<section class="tm-section tm-section-home tm-flex-center" id="home">                
		
		<div class="tm-hero">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="text-uppercase tm-hero-title">Industrial Revolution Exhibit</h1>
					<p class="tm-hero-subtitle">Sam Kracz</p>
				</div>
			</div>
		</div>                

	</section>
	
	<!-- Section 2 -->
	<section class="tm-section tm-section-engine" id="engine">

		<div class="tm-page-content-width">
			<div>
				<img src="/images/steamengine.jpg" class="center"/>
			</div>
			<div class="tm-bg-black-translucent tm-content-box tm-content-box-right tm-flex-center">
				<div class="tm-content-box-inner">
					<h2 class="tm-section-title">EVENT: 1712 – FIRST STEAM ENGINE IS INVENTED</h2>
					<p>In 1712 Thomas Newcomen, a Baptist preacher and ironmonger, created the first new form of power using steam.
						It was created to pump water out of mines and move flood water away from an original source.
						He wanted to create an alternative to the expensive and slow process of manual labor for overall workloads.
						He created a vacuum like suction inside a cylinder and was the first engine creator to use the piston. 
						He found new ways to push the limits of existing technology in that time and created the first overall successful steam powered engine.
						It also wasn’t the most popular invention at first, but it was built on and used to create new technology and forms of further growth.
						The first steam engine was installed in the Dudley Castle that was used to remove great depths of flood water from the rain.
						The engine worked all day and night but was still known to be truly insufficient.
					</p> 
					<p>I included this as my first event because it kickstarted the new transition into industrialization. 
						It helped the economic stability and allowed to drain new depths of water than ever before. 
						It provided iron and coal from the mines, that were vital for the time. 
						This fits the theme because it was the start to a new era and increased traded goods and mass production. 
						It was known to be one of the most important and influential inventions of the entire industrial revolution. 
						Newcomen made it possible for factories to use steam to power their machines which was cheaper and more sufficient than people. 
						It helped increase coal production and this helped influence and increase the economical state of Britain. 
						It helped influence and increase trade usage because his invention inspired the creation of the steam boat. 
						The steam boat was able to transport mass amounts of goods in half the time it previously took. 
						They were used for goods and citizens as well. 
						It is also still seen and shown today because now a lot of our factories and imported technology and goods are using steam power. 
						Trading times are being cut back, and in the 1800’s-1900’s allowed for future city growth in both Europe and America. 
						Growth was impacted because as new steam inventions were created, more opportunities for citizens were given and needed.
					</p>   
				</div>                        
			</div>                    
		</div>
		
	</section>

	<!-- Section 3 -->
	<section class="tm-section tm-section-combEngine" id="combEngine">

		<div class="tm-page-content-width">
			<div>
				<img src="/images/combEng.jpg" class="center"/>
			</div>
			<div class="tm-bg-black-translucent tm-content-box tm-content-box-right tm-flex-center">
				<div class="tm-content-box-inner">
					<h2 class="tm-section-title">OBJECT: FIRST SUCCESFUL COMBUSTION ENGINE IS INVENTED</h2>
					<p>In 1859 Étienne Lenoir built off of the ideas of Isaac de Rivaz and Nicolas Carnot to create the first successful combustion engine. 
						It used the two-stroke cycle engine and mixed coal, gas, and air to power new technology and get rid of waste and unused products. 
						He filed for the patent in 1859, and it was approved and signed by very early 1860. 
						His combustion engine was known as a great success and was used all throughout London by 1862. 
						They eventually used his invention on boats and in the car.  It did however have its weaknesses. 
						The first came from the use of too much fuel. 
						In the time there wasn’t a lot of fuel to spare for inventions and it didn’t give back enough for all the fuel it was using. 
						Another weakness was the heat developed when running. 
						It would overheat and break down.  However further developments in the invention allowed fuel use and heat to improve.
					</p>
					<p>I decided to include this as an object for my project because it represented a new era in technology because this was the first of its kind. 
						This is important in further development and growth because it would lead to fueling cars and the four internal combustion engines.
						This represents growth and trade because it would transfer over to the US and would develop into new forms of equipment. 
						It increased the growth because it provided the base for new technology and forms of stability for cities. 
						It also improved growth because it transferred to the US and it was used in the future. 
						It was seen in the 9000’s as well because it influenced the car, and further forms of energy for Europe and America. 
						It influenced trade as well because it provided new transport routes and faster means of travel. 
						It allowed a more economical way to transport goods quicker and more efficiently. 
						It also impacted the locations for factories and that they no longer had to be on the water for energy.
					</p>   
				</div>                        
			</div>                    
		</div>
		
	</section>

	<!-- Section 4 -->
	<section class="tm-section tm-section-telephone" id="telephone">

		<div class="tm-page-content-width">
			<div>
				<img src="/images/tphonePatent.png" class="center"/>
			</div>
			<div class="tm-bg-black-translucent tm-content-box tm-content-box-right tm-flex-center">
				<div class="tm-content-box-inner">
					<h2 class="tm-section-title">ALEXANDER GRAHAM BELL’s TELEPHONE PATENT</h2>
					<p>In 1876 Alexander Graham Bell received his new patent for the new future of communication. 
						In 1875 he worked with electricians to create the first model of the telephone. 
						He wanted to work with new sound and speech technology because of his grandfather and speech impediments. 
						He worked with sound waves to have others hear him in a different way then before. 
						He first worked on telegraphs, so messages could be sent at the same rate, and he realized 
						that he could use his further knowledge of sound waves and develop a system for communicating 
						without having to send a message.  He realized that if he used the same principals applied to 
						telegraphs he could transmit voices instead.  After the patent was accepted he worked to 
						complete his overall first successful model.  He then brought his invention to the public and 
						it became the new form of communication for the nation.
					</p>
					<p>I chose to include this document because 
						his patent was the start of our future and development in new forms of transmission. 
						The document represents the first visualization of the telephone and how it would be set up. 
						It includes the first set up, and this invention would develop over the course of the 1900’s 
						and even today.  This represents growth and trade because it would develop and become a huge 
						invention all over the world and would continue to grow even today. 
						He developed a new form of communication that would take less time and would produce 
						a better-quality message.  This influenced growth because it was the start to new communication 
						methods and in the 1900’s it would develop into a home telephone and the only method of 
						communication used.  It also influenced trade because it transferred all around the world 
						and other nations that accepted it developed it into new and better models.
					</p>   
				</div>                        
			</div>                    
		</div>
		
	</section>

	<!-- Section 5 -->
	<section class="tm-section tm-section-firstPhoto" id="firstPhoto">

		<div class="tm-page-content-width">
			<div>
				<img src="/images/firstPic.jpg" class="center"/>
			</div>
			<div class="tm-bg-black-translucent tm-content-box tm-content-box-right tm-flex-center">
				<div class="tm-content-box-inner">
					<h2 class="tm-section-title">DOCUMENT: FIRST PERMENTANT PHOTOGRAPHIC IMAGE</h2>
					<p>The first photograph was invented in 1826 by an inventor by the name of Joseph Niepce. 
						It was known as the first permanent photograph printed from a camera. 
						It was not the best quality, nor was it clear but it was the first permanent view of 
						the real world and its setting.  It provided content and applied detail and setting to 
						the real-world.  It was a new idea and spectacle for the citizens of Europe and France originally. 
						It was a show of excitement and development for the time and provided the base set up for the 
						improvement of picture quality and influenced the growth of cites. 
						He wanted to work with visual arts and chemistry to create a way for people to have a 
						permanent way to present and remember their memories. 
						He decided that he needed to find a projection way that wouldn’t fade away after a certain 
						period of time.  However, the camera had to have exposure time of hours our days and even then, 
						produced bad quality.  He then knew he had to find a way for there to be less of gap in time 
						between development of the pictures.  It became a worldwide sensation that allowed people to 
						save their memories, and it was an economic safety for the nations. 
					</p>
					<p>I chose to include this document because this new concept was the start to the future of 
						photography and improved memory capture.  It created new ideas and concepts that formed the 
						basis for picture taking and quality.  This visual represents the first concept of the photograph 
						and the first capture that is still remembered to this day.  It includes the first remembered 
						aspect of the time and the setting of 1826.  This individual photograph represents growth and 
						strides that were made in the late 1800’s-1900’s to improve quality and quantity of photos all 
						around the world.  This shows growth as well because it represents the new start to memory 
						saving and the new form of life representation for citizens.  People all around the world 
						began using this new technology and it spread drastically. 
						It also influenced trade due to the spread all over the world, and the trading of this new 
						technology.  The new trading of this new invention led to the world contributing to making it 
						clearer and better in general.
					</p>   
				</div>                        
			</div>                    
		</div>
		
	</section>

	<!-- Section 6 -->
	<section class="tm-section tm-section-lightbulb" id="lightbulb">

		<div class="tm-page-content-width">
			<div>
				<img src="/images/lightbulb.jpg" class="center"/>
			</div>
			<div class="tm-bg-black-translucent tm-content-box tm-content-box-right tm-flex-center">
				<div class="tm-content-box-inner">
					<h2 class="tm-section-title">EVENT:  THE INVENTION OF THE LIGHTBULB</h2>
					<p>Over 150 years ago inventors all over the world began working on new ways to power and 
						create energy to fuel homes and factories.  Candle light wasn’t cutting it, and human 
						power wasn’t enough to power the entire world.  The lightbulb changed the course of 
						history and created a dramatic impact on the design of buildings and improvement of 
						businesses.  It also allowed longer working days, and new forms of power to come into 
						play.  It led to the coming of new appliances and generators.  Thomas Edison worked on 
						the concepts of improving the existing bulb and trying to give it a safe and longer 
						lifespan.  He tested many different elements to try and produce a light source that would 
						last for longer than a half hour.  He used carbon filament to produce a new form of 
						electricity that would last for 15 hours.  They continued experimenting and finally used 
						bamboo to find a span of around 1200 hours.  Over the next decade they used this a source 
						for their bulbs.  He decided to make other improvement such as creating a better vacuum, 
						so it wouldn’t become as hot.
					</p> 
					<p>I included this in my exhibit because it represented great strides in technology and sources 
						of electricity for the future.  It was the first working invention that allowed for the 
						creation of power grids and changed the economic and social structure of society.  
						It influenced the growth of society and the amount of people who were able to work longer 
						days.  It allowed illumination for the night and provided a source for human activity.  
						It was built to provide electricity and infrastructure to the home and business world.  
						It powered devices and allowed for the creation of plugs and further sources of technology.  
						People used electricity to complete tasks and allowed them to work all night which ended up 
						improving quality quantity and productivity.  It also provided a cheaper way to light the 
						home and created a stable government because many people decided to power their homes 
						with this.  It improved economical issues, and society issues.
					</p>  
				</div>                        
			</div>                    
		</div>
		
	</section>

	<!-- Section 7 -->
	<section class="tm-section tm-section-typewriter" id="typewriter">

		<div class="tm-page-content-width">
			<div>
				<img src="/images/typewriter.jpg" class="center"/>
			</div>
			<div class="tm-bg-black-translucent tm-content-box tm-content-box-right tm-flex-center">
				<div class="tm-content-box-inner">
					<h2 class="tm-section-title">OBJECT: THE TYPEWRITER</h2>
					<p>In 1829 William Burt invented and patented the first type writer.  This machine was 
						known as the first device able to document and write out documentation without having 
						handwritten work.  However, in the beginning it wasn’t the most efficient and was 
						slower than other forms of work.  It wasn’t until 1867 and the work of Christopher Sholes 
						that they began increasing efficiency and began giving citizens everywhere a better 
						way to work.  It was then known as a groundbreaking device for the time and indicated 
						the start to faster work settings than that of handwriting. The prototype was a huge 
						success for major businesses and allowed work to fly by at increasing speeds.  
						In the late 1880’s it was mass produced and put into use for households and businesses.  
						It was a significant invention for the time and decreased work load.
					</p>
					<p>I included this in my exhibit because it was the set up for future writing devices 
						such as the computer and further advancements to the typewriter.  It was the 
						start to the new era of working and further technology.  This was of major 
						importance in further development of workloads and provided relief for handwriting.  
						This invention represents growth because it provided the basis for the computer 
						and keyboards themselves.  It also reflects growth because it developed a 
						sense of ease for citizens and big business owners.  It shows trade 
						improvement because it originated in Europe and then moved to America to 
						become finished, and then became produced everywhere around the world for 
						people to use for the rest of time.  People all over still use them and 
						in the 1900’s they were mass produced for new writers and business moguls of the time.  
						I again chose to include this due to the growth and power it represented in that time, 
						and even today.
					</p>  
				</div>                        
			</div>                    
		</div>
		
	</section>

</div>
